html {
    font-family: sans-serif;
    font-size: 14px;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.4rem;
}

header {
    padding: 1rem;
}

main {
    width: 75em;
    margin: 0 auto;
}

button {
    box-shadow: 1px 1px 5px hsl(0, 0%, 80%);
    background-color: hsl(0, 0%, 100%);
    border: 1px hsl(0, 0%, 75%) solid;
    padding: .5rem 1rem;
    border-radius: 2px;
}

button:hover:enabled {
    cursor: pointer;
}

button:disabled {
    box-shadow: none;
    border: 1px hsl(0, 0%, 90%) solid;
    cursor: not-allowed;
}

.full-height {
    height: 100%;
}

.separator {
    margin: 0 2rem 2rem 2rem;
    height: 1px;
    border-bottom: 1px hsl(0, 0%, 90%) solid;
}

.layout {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

#subscriptions > .row {
    padding: 1rem;
    border-bottom: 1px hsl(0, 0%, 90%) solid;
}

#subscriptions > .row:first-of-type {
    border-top: 1px hsl(0, 0%, 90%) solid;
}

.warning {
    color: #856404;
    background-color: #fff3cd;
    border: 1px solid #ffeeba;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border-radius: .25rem;
}

/**
 * CSS Loader
 */
.loading-animation {
    margin: 0 auto;
    width: 100px;
    text-align: center;
}

.loading-animation div {
    color: #000;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.loading-animation .line {
    width: 1px;
    height: 12px;
    background: #000;
    margin: 0 1px;
    display: inline-block;
    animation: opacity-1 1200ms infinite ease-in-out;
}

.loading-animation .line-0 {
    animation-delay: 1000ms;
}

.loading-animation .line-1 {
    animation-delay: 800ms;
}

.loading-animation .line-2 {
    animation-delay: 600ms;
}

.loading-animation .line-3 {
    animation-delay: 400ms;
}

.loading-animation .line-4 {
    animation-delay: 200ms;
}

.loading-animation .line-6 {
    animation-delay: 200ms;
}

.loading-animation .line-7 {
    animation-delay: 400ms;
}

.loading-animation .line-8 {
    animation-delay: 600ms;
}

.loading-animation .line-9 {
    animation-delay: 800ms;
}

.loading-animation .line-10 {
    animation-delay: 1000ms;
}

@keyframes opacity-1 {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}